<div class="d-flex">

    <app-sidebar></app-sidebar>

    <div class="container">
        <div class="row p-3">

            <div class="col">
                <h5>Buscar:</h5>
                <input type="text" class="form-control" placeholder="Buscar gifs...">
            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iure repudiandae esse architecto vel dolorum. Minus mollitia illo quaerat, in at animi blanditiis. Delectus consequuntur at animi eveniet similique tenetur.
            </div>
        </div>

    </div>

</div>